<!-- jQuery-2.2.4 js -->
    <script src="{{ .Site.BaseURL }}js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="{{ .Site.BaseURL }}js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="{{ .Site.BaseURL }}js/plugins.js"></script>
    <!-- Active js -->
    <script src="{{ .Site.BaseURL }}js/active.js"></script>
</body>

</html>